LOG_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJNYXBDbGFpbXMiOnsiYXVkIjoiaHR0cDovLzIwLjI0NC41Ni4xNDQvZXZhbHVhdGlvbi1zZXJ2aWNlIiwiZW1haWwiOiJzcjcwMjRAc3JtaXN0LmVkdS5pbiIsImV4cCI6MTc3NzcwMDM0NSwiaWF0IjoxNzc3Njk5NDQ1LCJpc3MiOiJBZmZvcmQgTWVkaWNhbCBUZWNobm9sb2dpZXMgUHJpdmF0ZSBMaW1pdGVkIiwianRpIjoiOTI1ZWRlZmUtN2QzMC00OGMyLTljYmItN2Q3NDJmODVkZGM1IiwibG9jYWxlIjoiZW4tSU4iLCJuYW1lIjoic2hhaSByYWFtIiwic3ViIjoiYzRhMDY2ZmUtMzU1Ny00MzFhLTkxOTgtZjhjYWY2MGM2OTY0In0sImVtYWlsIjoic3I3MDI0QHNybWlzdC5lZHUuaW4iLCJuYW1lIjoic2hhaSByYWFtIiwicm9sbE5vIjoicmEyMzExMDU2MDEwMjM1IiwiYWNjZXNzQ29kZSI6IlFrYnB4SCIsImNsaWVudElEIjoiYzRhMDY2ZmUtMzU1Ny00MzFhLTkxOTgtZjhjYWY2MGM2OTY0IiwiY2xpZW50U2VjcmV0IjoielRRa2JIVm1kRXZWTWRQdyJ9.TWqs_Td2qbjfBYVU5VE88hit6--3v-NXIZq6iL2CZCo
LOG_API_URL=http://20.244.56.144/evaluation-service/logs
